#create {
    position: relative;
    left: 30%;
    height: 68.3vh;
    margin: 40px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.but {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pass {
    color: green;
}


.fail {
    color: red;
}
