.more {
    color: white;
    align-self: center;
}

button .btn-success:hover {
    background-color: #11441d;;
}

.eventBtns {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}