#build {
    gap: 40px;
    margin: 40px;
    width: 100%px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containForm {
    display: flex;
    align-items: center;
    gap: 50px;
}

#left {
    width: 600px;
}

#right {
    width: 600px;
}

#back {
    align-self: flex-start;
    margin: 0px 120px 0px;
}

.map {
    width: 60%;
}

.green {
    color: green;
}

.red {
    color: red;
}